.wrapper .sidebar{
  background: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 14%;
  padding: 20px 0;
  transition: all 0.5s ease;
}
#topPadding {
  padding-top: 10%;
}
#topPadding2 {
  padding-top: 20%;
}

@media (max-width: 133vh) {
  #topPadding {
    padding-top: 20%;
  }
  #topPadding2 {
    padding-top: 40%;
  }
}



.container {
  font-size: 0; /*remove white space*/
}

.section {
  font-size: 16px; /*reset font size*/
  display: inline-block;
  vertical-align: top;
  width: 33.3333%;
  /* border: 1px solid; */
  box-sizing: border-box;
  padding-bottom: 20px;
}

@media (max-width: 768px) { /*breakpoint*/
  .section {
    display: block;
    width: auto;
  }
}



@media (max-width: 100vh) {
  #topPadding {
    padding-top: 20%;
  }
}
